doctype html
html
  head
    include ./head.jade
  body
    div.wrapper
      p.secondary-text Your service as a
      h1.primary-text GROOMSMAN
      p.secondary-text is requested November 19, 2016

      form.form(action="http://formspree.io/wkingcreative@gmail.com" method="POST")
        input.text-name(type="text" name="name" placeholder="Enter your name")
        input.text-answer(type="text" name="answer" placeholder="Your answer")
        input(type="hidden" name="_next" value="//groomsman.wking.io/thank-you.html")
        input(type="submit" name="submit" value="SUBMIT YOUR ANSWER")
