body {
  background: $bg-color;
}

.wrapper {
  position: absolute;
  max-width: 960px;
  width: 80vw;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondary-text {
  color: #fff;
  font-size: 20px;
  font-family: $droid;
  font-weight: 400;
  margin: 0;
}

.form {
  margin: 50px auto 0 auto;
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.primary-text {
  color: $text-color;
  font-size: 175px;
  font-family: $oswald;
  margin: -20px 0;
}

input[type=text] {
  border: $text-color solid 2px;
  background: transparent;
  color: $text-color;
  height: 56px;
  width: 48%;
  margin: 0 0 30px 0;
  padding-left: 15px;
  font-family: $droid;
  font-size: 14px;

  &:focus {
    border: $primary-color solid 2px;
    box-shadow: none;
    outline: none;
  }
}

input[type=submit] {
  color: $text-color;
  background: $btn-color;
  border: $btn-color solid 2px;
  height: 56px;
  width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-family: $droid;
  font-weight: 700;
  outline: none;

  &:hover, &:focus {
    background: $btn-hover;
    border: $btn-hover solid 2px;
  }
}

@media (max-width: $M) {
  .primary-text {
    font-size: 110px;
  }
  .form {
    width: 80%;
  }
}

@media (max-width: $S) {
  .primary-text {
    font-size: 54px;
    margin: 0;
  }
  .secondary-text {
    font-size: 16px;
  }
  .form {
    width: 80%;
  }
  input[type=text] {
    width: 100%;
  }
  input[type=submit] {
    font-size: 14px;
  }
}
