// fonts

$sans-font: 'Raleway', sans-serif;
$serif-font: 'Roboto Slab', serif;
$display-font: 'anemone', $sans-font;
// colors

$primary-color: #2C3E50;
$primary-dark: shade($primary-color, 50%);
$accent-color: #DCB570;
$text-color-dark: $primary-color;
$text-color-light: rgba(#fff, 0.87);
$bg-color: #FBFCFC;
$link-color: $accent-color;
$btn-color: $accent-color;
$btn-hover: #BA985B;
$error-color: #EF233C;
$success-color: #06D6A0;

// breakpoints

$S:     430px;
$M:     820px;
$L:     1170px;
