// fonts

$oswald: 'Oswald', sans-serif;
$droid: 'droid-sans', sans-serif;
// colors

$bg-color: #212121;
$primary-color: #0649E2;
$primary-hover: #0436A8;
$text-color: #fff;
$btn-color: $primary-color;
$btn-hover: $primary-hover;
$error-color: #EF233C;
$success-color: #06D6A0;

// breakpoints

$S:     430px;
$M:     820px;
$L:     1170px;
